 <nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" src="CKTL.png" alt="Card image cap">
    <p>
      <span id="banner-typed-text"></span>
    </p>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-primary"><%= link_to "Add a cocktail", new_cocktail_path %></button>
    </form>
  </div>
</nav>

 <div class="container">
  <h1 class="text-center font-weight-bold">Our Menu</h1>
    <div class="cocktail-list">
      <div class="row">
      <% @cocktails.shuffle.each do |cocktail| %>
        <div class="col-4">
        <div class="card m-2 shadow-lg p-3 mb-5 bg-white">
          <img class="card-img-top" src="<%= cocktail.url %>" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= "#{cocktail.name}" %></h5>
            <button class="btn btn-primary"><%= link_to "More Info", cocktail_path(cocktail.id) %></button>
          </div>
        </div>
      </div>
      <% end %>
      </div>
    </div>
</div>






