<% @doses.each do |dose| %>
<h1>Dose Description: <%= dose.description %></h1>
<h1>Dose Id: <%= dose.id %></h1>
<h1>Ingredient Id:<%= dose.ingredient_id %></h1>
<h1>Cocktail Id:<%= dose.cocktail_id %></h1>
<br>
<% end %>
